.custom-section {
  /* border: 2px;
  border-color: black;
  border-style: solid; */
  border: 1px solid black;
  /* margin: 1rem; */
  /* margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem; */
  /* TRBL */
  margin: 1rem 5rem 1rem 2rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
}
.custom-section-2 {
  border: 2px;
  border-color: black;
  border-style: solid;
  margin: 2rem;
}
